<div class="container-fluid mt-5 about-style" id="aboutid">
  <div class="row">
    <div class="col-md-10 col-12 mx-auto">
      <h1 class="text-center main-heading">About</h1>
      <p class="text-center sub-heading"><span>Vivek Dhiman</span>
        , Currently pursuing Btech in Information Technology From
        <span>Guru Nanak Dev Engineering College (2019 - 2023)</span></p>
      <div class="row">
        <div class="col-md-6 col-12 hero-text">
          <body>

            <iframe
              width="420"
              height="345"
              src="https://www.youtube.com/embed/P9GJNff8E9Y"
            >
            </iframe>

          </body>

        </div>
        {{! right side }}

        <div
          class="col-md-6 col-12 hero-text order-md-0 order-1 d-flex justify-content-center align-items-start flex-column"
        >
          <h1>Good Team Player</h1>
          <h1>Happy To Be A Coder</h1>
          <p>versatile knowledge in technology , worked on blockchain , angular
            , ionic , node , and many other well known tech giants technologies
            and feel happy to grab more in my lifespan.</p>
          <button class="btn-style btn-primary"><a href="https://youtube.com/@vivekdhiman1" style="color: aqua;">Subscribe @vivekdhiman</a></button>

          <body>

          </body>
        </div>
      </div>
    </div>
  </div>
</div>