<div class="container-fluid">
  <!-- Start: Header -->
  <img src="images\petshop.jpg" width="full" height="500" class="col-md-10 "/>
  <!-- End: Header -->
</div>
<div class="container">
  <!-- Start: Desc -->
  {{! <div class="row me-row content-ct">
          <h2 class="row-title">Why This Event Is Super Cool?</h2>
          <div class="col-md-4 feature">
            <span class="ti-ticket"></span>
            <h3>Buy Early Bird Tickets</h3>
            <p>Super cool discounts if you purchase early bird tickets now. Limited tickets available with some awesome perks and goodies!</p>
          </div>
          <div class="col-md-4 feature">
            <span class="ti-microphone"></span>
            <h3>Expert Speakers</h3>
            <p>Best in class expert speakers who have extensive knowledge of the topic. All speakers are curated by the panel of experts.</p>
          </div>
          <div class="col-md-4 feature">
            <span class="ti-world"></span>
            <h3>People around the globe!</h3>
            <p>Meet the people attending this event around the globe. This will be the best opportunity to meet and greet people from your industry.</p>
          </div>
        </div> }}
  <!-- End: Desc -->

  <!-- Start: Speakers -->
  <div class="row me-row content-ct speaker" id="speakers">
    <h2 class="row-title">Products</h2>
    <div class="col-md-4 col-sm-6 feature">
      <img src="img/speaker-1.png" class="speaker-img" />
      <h3>PEDIGREE</h3>
      <p>Dry Dog Food</p>
      <h3>Price $1000</h3>
    </div>
    <div class="col-md-4 col-sm-6 feature">
      <img src="img/speaker-2.png" class="speaker-img" />
      <h3>PEDIGREE</h3>
      <p>Wet Dog Food</p>
      <h3>Price $800</h3>
    </div>
    <div class="col-md-4 col-sm-6 feature">
      <img src="img/speaker-3.png" class="speaker-img" />
      <h3>Drools</h3>
      <p>Chicken and egg puppy dog dry food</p>
      <h3>Price $1200</h3>
    </div>
    <div class="col-md-4 col-sm-6 feature">
      <img src="src/bones.png" class="speaker-img" />
      <h3>Drools</h3>
      <p>Absolute calcium bones</p>
      <h3>Price $500</h3>
    </div>
    <div class="col-md-4 col-sm-6 feature">
      <img src="img/speaker-5.png" class="speaker-img" />
      <h3>Drools</h3>
      <p>tic and flea repellent shampoo</p>
      <h3>Price $299</h3>
    </div>
    <div class="col-md-4 col-sm-6 feature">
      <img src="img/speaker-6.png" class="speaker-img" />
      <h3>Wahl</h3>
      <p>CDm Cordless Trimmer</p>
      <h3>Price $4999</h3>
    </div>
  </div>
  <!-- End: Speakers -->
</div>