<div class="container-fluid">
  <!-- Start: Header -->
  <img
    src="https://user-images.githubusercontent.com/54256553/223451953-3088ea81-a8ce-4382-8257-fa5ff244c0dc.jpg"
    width="full"
    height="500"
    class="col-md-10"
  />
  <!-- End: Header -->
</div>
<div class="container">

  <div class="row me-row content-ct speaker" id="speakers">
    <h2 class="row-title">Products</h2>
    <div class="col-md-4 col-sm-6 feature">
      <img
        src="https://user-images.githubusercontent.com/54256553/223451013-ae5414b4-1aed-4638-8213-f9396ed7c656.jpg"
        class="speaker-img"
      />
      <h3>PEDIGREE</h3>
      <p>Dry Dog Food</p>
      <h3>Price $1000</h3>
    </div>
    <div class="col-md-4 col-sm-6 feature">
      <img
        src="https://user-images.githubusercontent.com/54256553/223451017-6852c03e-b731-4ad6-a8d0-38bf7b88bc57.jpg"
        class="speaker-img"
      />
      <h3>PEDIGREE</h3>
      <p>Wet Dog Food</p>
      <h3>Price $800</h3>
    </div>
    <div class="col-md-4 col-sm-6 feature">
      <img
        src="https://user-images.githubusercontent.com/54256553/223451005-a9ebcd88-4aa9-43da-99cd-f6700c81c347.jpg"
        class="speaker-img"
      />
      <h3>Drools</h3>
      <p>Chicken and egg puppy dog dry food</p>
      <h3>Price $1200</h3>
    </div>
    <div class="col-md-4 col-sm-6 feature">
      <img
        src="https://user-images.githubusercontent.com/54256553/223448140-d33726fe-2b13-409b-aa9b-4d094a1c7dfa.png"
        class="speaker-img"
      />
      <h3>Drools</h3>
      <p>Absolute calcium bones</p>
      <h3>Price $500</h3>
    </div>
    <div class="col-md-4 col-sm-6 feature">
      <img
        src="https://user-images.githubusercontent.com/54256553/223448153-0d920a0d-8648-47ee-93df-7e7321df52e6.png"
        class="speaker-img"
      />
      <h3>Drools</h3>
      <p>tic and flea repellent shampoo</p>
      <h3>Price $299</h3>
    </div>
    <div class="col-md-4 col-sm-6 feature">
      <img
        src="https://user-images.githubusercontent.com/54256553/223448171-50da61ef-8700-47cc-bd7d-9c310c29afd7.jpg"
        class="speaker-img"
      />
      <h3>Wahl</h3>
      <p>CDm Cordless Trimmer</p>
      <h3>Price $4999</h3>
    </div>
  </div>
  <!-- End: Speakers -->
</div>
