<section class="vh-100">
  <div class="container-fluid h-custom">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-md-9 col-lg-6 col-xl-5">
        <img src="https://user-images.githubusercontent.com/54256553/223451953-3088ea81-a8ce-4382-8257-fa5ff244c0dc.jpg"
          class="img-fluid" alt="Sample image">
      </div>
      <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
        <form action="/login" method="post">
         

          <!-- Email input -->
          <div class="form-outline mb-4">
            <label class="form-label" for="form3Example3">Email address</label>
            <input type="email" id="email" name="email" class="form-control form-control-lg"
              placeholder="Enter a valid email address" />
            
          </div>

          <!-- Password input -->
          <div class="form-outline mb-3">
            <label class="form-label" for="form3Example4">Password</label>
            <input type="password" id="password" name="password" class="form-control form-control-lg"
              placeholder="Enter password" />
            
          </div>

          <div class="text-center text-lg-start mt-4 pt-2">
            <button type="submit" class="btn btn-primary btn-lg"
              style="padding-left: 2.5rem; padding-right: 2.5rem;" value="Login">Login</button>
             <p class="small fw-bold mt-2 pt-1 mb-0">Don't have an account? <a href="/signin"
                class="link-danger">Register</a></p>
          </div>

        </form>
      </div>
    </div>
  </div>
  
  </div>
</section>
  {{!-- <h1>Login</h1>
   <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
  <form action="/login" method="post">
   <div class="form-outline mb-4">
     <label class="form-label" for="form3Example3">Email address</label>
            <input type="email" id="form3Example3" id="email" name="email" requiredclass="form-control form-control-lg"
              placeholder="Enter a valid email address" />
           
    </div>
    <div class="form-outline mb-3">
        <label class="form-label" for="form3Example4">Password</label>
            <input type="password" id="form3Example4" id="password" name="password" require class="form-control form-control-lg"
              placeholder="Enter password" />
            
          </div>

   
    <input type="submit" class="btn btn-primary btn-lg"
              style="padding-left: 2.5rem; padding-right: 2.5rem;" value="Login">
  </form>
  </div>
 --}}
