<div class="container-fluid mt-5 service-style" id="serviceid">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <h1 class="text-center main-heading">Skills</h1>
                <p class="text-center sub-heading">grow your knowledge with us</p>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="box">
                                <div class="our-services settings">
                                    <div class="icon">
                                        <img src="images/java.png">
                                        </div>
                                           <p><span>Data Structure And Algorithms</span></p>
                                    </div>
                                </div>
                                
                            </div>
                               <div class="col-md-4"">
                            <div class="box">
                                <div class="our-services settings">
                                    <div class="icon">
                                        <img src="images/mean.png">
                                        </div>
                                        <p>Mean Full Stack Developer</p>
                                    </div>
                                </div>
                            </div>
                               <div class="col-md-4">
                            <div class="box">
                                <div class="our-services settings">
                                    <div class="icon">
                                        <img src="images/ionic.png">
                                        </div>
                                        <p><span>Ionic Angular Html Css</span></p>
                                    </div>
                                </div>
                                
                            </div>
                            
                        </div>

                        <div class="col-md-12">
          <button class=" col-md-12 btn-style btn-primary"><a style="color: aqua; href="https://drive.google.com/file/d/1t34ICAL0J60Zi2lYXTe2Nx-PGZfBGSPC/view">Resume Page For More</a></button>
        </div>

      </div>
    </div>
  </div>
